/*TODO: fix css*/
:root {
    --Background: #282a36;
    --CurrentLine: #44475a;
    --Foreground: #f8f8f2;
    --Comment: #6272a4;
    --Cyan: #8be9fd;
    --Green: #50fa7b;
    --Orange: #ffb86c;
    --Pink: #ff79c6;
    --Purple: #bd93f9;
    --Red: #ff5555;
    --Yellow: #f1fa8c;

    --Shadow: rgba(0, 0, 0, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


head *, script {
    display: none;
}

body {
    background-color: var(--Background);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

header {
    text-align: center;
    padding: 1rem 0;
    height: 18vh;
    background-color: var(--CurrentLine);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    padding: 1rem;
}

#gameView {
    max-width: 90vw;
    max-height: 73vh;
    min-width: 100px;
    min-height: 100px;
    width: auto;
    height: 1080px;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
    background-color: pink;
}

.gameElement {
    width: 1696px;
    height: 256px;
    position: absolute;
    bottom: 0;
    left: 0;
    aspect-ratio: 1696/256;
    margin-left: 0;
}

#background {
    background-color: var(--Comment);
    background: url("../image/background/background.jpg");
    background-size: contain;
}

#canvas {


    image-rendering: optimizeSpeed;
    /*Older versions of FF*/
    image-rendering: -moz-crisp-edges;
    /* FF 6.0+*/
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non standard naming)*/
    image-rendering: -o-crisp-edges;
    /* OS X & Windows Opera (12.02+)*/
    image-rendering: crisp-edges;
    /* Possible future browsers.*/
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non standard naming)*/
}

h1, h2, h3 {
    color: var(--Orange);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.45rem;
}

footer {
    padding: 1rem 0;
    text-align: center;
    height: 7vh;
    background-color: var(--CurrentLine);
    color: var(--Foreground);
}